project:
  type: website

execute:
  freeze: auto

website:
  title: "easytranscriber"
  navbar:
    background: light
    search: true
    right:
      - text: "Get Started"
        href: get-started/overview.qmd
      - text: "Benchmarks"
        href: benchmarks.qmd
      - text: "Reference"
        href: reference/index.qmd
      - text: "About"
        href: about.qmd
      - icon: github
        href: https://github.com/kb-labb/easytranscriber
  sidebar:
    - id: get-started
      title: "Get Started"
      contents:
        - get-started/overview.qmd
        - get-started/text-processing.qmd
        - benchmarks.qmd
  open-graph: 
    title: "easytranscriber: Speech recognition with accurate timestamps, made easy"
    description: 
      "An automatic speech recognition library for transcribing audio files with precise timestamps.
      Efficient inference pipelines suitable for transcription of large audio archives. Supports
      both ctranslate2 and Hugging Face transformers as ASR backends."
    image: _assets/easytranscriber.png

# tell quarto to read the generated sidebar
metadata-files:
  - reference/_sidebar.yml

# tell quarto to read the generated styles
format:
  html:
    theme:
      dark:
        - cosmo
        - styles/dark-custom.scss
      light: 
        - cosmo
        - styles/light-custom.scss
    css:
      - reference/_styles-quartodoc.css
      - styles.css

# Make "Figure" titles bold in figure text
crossref:
  fig-title: '**Figure**'

quartodoc:
  # the name used to import the package you want to create reference docs for
  package: easytranscriber
  renderer:
    style: markdown
    table_style: table # description-list
  # write sidebar and style data
  sidebar: reference/_sidebar.yml
  css: reference/_styles-quartodoc.css

  sections:
    - title: Transcription
      desc: 
        Transcription pipelines and functions.
      contents:
        # the functions being documented in the package.
        # you can refer to anything: class methods, modules, etc..
        - pipelines.pipeline
        - asr.ct2.transcribe
        - asr.hf.transcribe
    - title: Text Processing
      desc: 
        Text processing utilities. See also [SpanMapNormalizer](https://kb-labb.github.io/easyaligner/reference/SpanMapNormalizer.html)
        from [easyaligner](https://github.com/kb-labb/easyaligner). 
      package: easytranscriber.text.normalization
      contents:
        - text_normalizer
    - title: Datasets
      desc: 
        Dataset classes for creating Pytorch DataLoaders.
      package: easytranscriber.data.dataset
      contents:
        - name: StreamingAudioSliceDataset
          children: separate
        - name: StreamingAudioFileDataset
          children: separate
    - title: Data Models
      desc: 
        Data models for storing transcribed text and metadata.
      package: easytranscriber.data.datamodel
      contents:
        - AudioMetadata
        - SpeechSegment
        - WordSegment
        - AlignmentSegment
        - AudioChunk
